.user-login-details-table {
  width: 100%;
  border-collapse: collapse;
}

.user-login-details-table th,
.user-login-details-table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.user-login-details-table th {
  background-color: #5997f5;
  font-weight: bold;
}

.user-login-details-table td {
  font-size: 14px;
}
